body {
    background-color: black;
    color: lightgray;
    font-family: cursive;
}


.text {

    height: fit-content;
    text-align: center;
    padding: 15px;
}

.backArrow {
    position: absolute;
    top: 0%;
    left: 0%;
}