body {
    background-color: black;
}

.sec1 {
    background-image: url(../images/spacebackground.gif);
    background-color: black;
    height: 540px;
    position: relative;
    z-index: 1;

}

.sec2 {
    background-image: url(../images/spacebackground.gif);
    background-color: black;
    height: 540px;
    position: relative;
    z-index: 1;
}

.sec3 {
    background-color: black;
    height: 540px;
    position: relative;
    z-index: 1;
}

.sec4 {
    background-color: black;
    height: 540px;
    position: relative;
    z-index: 1;
}

p {
    color: white;
    font-family: cursive;
}

.text {
    background-color: blueviolet;
    height: fit-content;
    text-align: center;
    padding: 15px;
}

.mid1 {
    background-image: url(../images/mogus.gif);
    background-size: contain;
    height: 330px;
    width: 330px;
    position: absolute;
    top: 35%;
    left: 42%;
    z-index: 2;
}

.graphic-1 {
    position: relative;
    top:8%;
    left: 43.5%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.graphic-2 {
    position: relative;
    top: 9%;
    left: 17%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.graphic-3 {
    position: relative;
    top: 9%;
    left: 5%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}
.graphic-4 {
    position: relative;
    top: 30%;
    left: 80%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.graphic-5 {
    position: relative;
    top: -10%;
    left: 30%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.graphic-6 {
    position: relative;
    top: -30%;
    left: 70%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.graphic-7 {
    position: relative;
    top: -20%;
    left: 80%;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.graphic-8 {
    position: absolute;
    top: 0%;
    left:  0%;
    width: fit-content;
    height: fit-content;
    z-index: 2;

}
.graphic-9 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: fit-content;
    height: fit-content;
    z-index: 2;

}
